/*
Au Yeung Hui Kei (1155158820) Chan Gi Wei Violet (1155126648) 
Kong Ming Kin(1155144268)     Lo Kwun Hei (1155155612) 
Yeung Ka Him(1155176590)      Yuen Man Yi (1155127553) 
*/

.modalwithtitle-top{
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.modalwithtitle-chinese-title{
    flex:none;
    margin-right: 10px;
}

.modalwithtitle-english-title{
    flex: none;
    padding-top: 2  px;
}

.modalwithtitle-space{
    flex: 1 1 0;
}

.modalwithtitle-close{
    flex: none;
    
}

.modalwithtitle-main{
    padding: 10px 10px;
    background-color: #ffffff;
}