/*
Au Yeung Hui Kei (1155158820) Chan Gi Wei Violet (1155126648) 
Kong Ming Kin(1155144268)     Lo Kwun Hei (1155155612) 
Yeung Ka Him(1155176590)      Yuen Man Yi (1155127553) 
*/

.button-button{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    
}

.button-button:hover{
    cursor: pointer;
}


.button-chinese-word{
    font-family: HDFLiHei-Md;
    padding: 0px 5px;

}

.button-english-word{
    font-family: HelveticaNeue;

    line-height: 25px;
}

.button-multiline{
    flex-direction: column;
    align-items: center; 
}

.button-reverse{
    flex-direction: row-reverse;
}

.button-center{
    align-items: center;
}