/* 
Au Yeung Hui Kei (1155158820) Chan Gi Wei Violet (1155126648) 
Kong Ming Kin(1155144268)     Lo Kwun Hei (1155155612) 
Yeung Ka Him(1155176590)      Yuen Man Yi (1155127553) 
*/

.list-search-container{
    display: flex;
    align-items: center;
    width: 100vh;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    border: 2px solid #2f2c77;
    margin: 20px;
  }
  .list-search-input{
    width: 80%;
    padding-left: 10px;
    margin: 0px 20px 20px 0px;
  }
  