/* 
Au Yeung Hui Kei (1155158820) Chan Gi Wei Violet (1155126648) 
Kong Ming Kin(1155144268)     Lo Kwun Hei (1155155612) 
Yeung Ka Him(1155176590)      Yuen Man Yi (1155127553) 
*/

body {
    background-color: cornsilk;
}

#adminHome h1 {
    color: indigo;
}

#adminHome .banner {
    margin-bottom: 15px;
}
