/* 
Au Yeung Hui Kei (1155158820) Chan Gi Wei Violet (1155126648) 
Kong Ming Kin(1155144268)     Lo Kwun Hei (1155155612) 
Yeung Ka Him(1155176590)      Yuen Man Yi (1155127553)
*/

body {
    background-color: cornsilk;
}

#eventManage h1 {
    color: indigo;
    padding: 15px;
}

/* Create event button */
#eventManage .fnt-nav {
    text-align: left;
    padding: 0px 20px 10px 10px;
}

#eventManage .fnt-btn {
    margin-right: 10px;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 12px;
    height: 30px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}
  
#eventManage .fnt-btn {
    background: #F6F9FE;
    color: #174ea6;
}

#eventManage .fnt-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

#eventManage .fnt-btn:focus {
    outline: none;
    border: 2px solid #4285f4;
}


/* Refresh button */
#eventManage .refresh-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

#eventManage .refresh-btn:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}



/* Table */
#eventManage .event-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1em;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: scroll;
}

#eventManage .event-table thead tr {
    background-color: #dbd4a7;
    color: black;
    text-align: center;
    font-weight: bold;
}

#eventManage .event-table th,
#eventManage .event-table td {
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#eventManage .event-table tbody tr {
    border-bottom: 1px solid rgb(208, 175, 237);
}

#eventManage .event-table tbody tr:nth-of-type(even) {
    background-color: #93ade7;
}