.UserSearchResult {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .UserSearchResult td, .UserSearchResult th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .UserSearchResult tr:nth-child(even){background-color: #f2f2f2;}
  
  .UserSearchResult tr:hover {background-color: #ddd;}
  
  .UserSearchResult th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

/*
.LocCURD h3 {
    margin-left: 20px;
}

.findUser {
    padding: 5%;
}

.UserSearchBar {
    width: 90%;
    margin: 5%;
    padding: 5px;
}

table.UserSearchResult {
    width: 100%;
}

table.UserSearchResult th.columnName {
    text-decoration: underline;
    text-align: center;
    line-height: 200%;
}
table.UserSearchResult td.Cell {
    text-align: center;
    line-height: 200%;
    width: 15%
}*/

/* table.UserSearchResult th */