
.LocCURD h3 {
    margin-left: 20px;
    color: indigo;
}

.findUser {
    padding: 5%;
}

.UserSearchBar {
    width: 90%;
    margin: 5%;
    padding: 5px;
}

table.UserSearchResult {
    width: 100%;
}

table.UserSearchResult th.columnName {
    text-decoration: underline;
    text-align: center;
    line-height: 200%;
}
table.UserSearchResult td.Cell {
    text-align: center;
    line-height: 200%;
    width: 15%
}

/* table.UserSearchResult th */