.userFav h3 {
    margin-left: 20px;
    color: indigo;
}

.favlocations {
    padding: 5%;
}


table.favloc-table {
    width: 100%;
}

table.favloc-table th.columnName {
    text-decoration: underline;
    text-align: center;
    line-height: 200%;
}
table.favloc-table td.Cell {
    text-align: center;
    line-height: 200%;
    width: 15%
}